@font-face {
    font-family: themeFont;
    src: url(../font/Alata/Alata-Regular.ttf);
  }
  body{
      font-family: themeFont;
      color: #3f3f3f;
      background-color: #3f3f3f;
  }
.navbar-custom {
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}
.navbar-bg-trasparent{
    background-color: transparent;
}
a:active
a:hover{
color: white !important;
}
header.masthead {
    position: relative;
    overflow: hidden;
    padding-top: calc(7rem + 72px);
    padding-bottom: 7rem;
    background-image: url(../img/PrimaryBG.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    height: 100%;
}
.secondary-bg {
    position: relative;
    overflow: hidden;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-image: url(../img/SecondaryBG.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    height: 100%;
}
.primary-bg {
    position: relative;
    overflow: hidden;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-image: url(../img/PrimaryBG.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    height: 100%;
}

.designation{
    background-color: white;
    color: #3f3f3f;
    width: fit-content;
}
.my-pic{
    width: 280px;
    height: 280px;
    object-fit: cover;
}
@media (min-width: 992px){
    .my-pic{
        width: 350px;
        height: 350px;
        object-fit: cover;
    }
    .nav-item{
        padding-left: 1rem !important;
        
    }
}
.bg-primary-color{
    background-color: #3f3f3f;
}
.text-primary-color{
    color: #3f3f3f;
}
.navbar-toggler .collapsed{
    background-color: #3f3f3f;
}
@media (max-width: 991px){
    .nav-item{
        padding-top: 1rem !important;
        text-align: center;
    }
    .navbar-bg-trasparent{
        background-color: #3f3f3f;
    }
}